.skycom-12
  %h3.pod-title Calls
  %p.intro.smaller
    %span.medium
      Total Cost of Calls:
    %span.demo-pink
      =number_to_currency(@formatted_response.calls_cost, unit:"£")
  %h3.pod-title.smaller.text--secondary Call History
  %table.table
    %thead
      %tr
        %th
          .medium Number Called
        %th
          .medium Duration
        %th
          .pull-right
            .medium Cost
    %tbody
      -@formatted_response.calls.each do |call|       
        %tr
          %td
            =call["called"]
          %td
            =call["duration"]
          %td
            .pull-right
              ="#{number_to_currency(call["cost"], unit:"£")}"