%table.table
  %thead
    %tr
      %th 
        .medium Title
      %th
        .pull-right
          .medium Cost
  %tbody
    -purcheses.each do |purchase|       
      %tr
        %td
          =purchase["title"]
        %td
          .pull-right
            ="#{number_to_currency(purchase["cost"], unit:"£")}"