.col-xs-12
  %h3.pod-title Subscriptions
  %p.intro.smaller
    %span.medium
      Total Cost of Subscriptions:
    %span.demo-pink
      =number_to_currency(@formatted_response.total_subscriptions_cost, unit:"£")
  %h3.pod-title.smaller.text--secondary Breakdown of Subscriptions
  %table.table
    %thead
      %tr
        %th Type
        %th Name
        %th Cost
    %tbody
      -@formatted_response.subscriptions.each do |subscription|       
        %tr
          %td=subscription["type"]
          %td=subscription["name"]
          %td="#{number_to_currency(subscription["cost"], unit:"£")}"