body{
  font: 16px/20px SkyTextRegular,Helvetica,Arial,sans-serif;
  color: #333333;
}

img{
  &.logo{
    margin-top: 10px;
  }
}

.demo-version {
  font-size: 0.5em;
}

.demo-blue {
  color: #5cacb6;
}

.demo-pink {
    color: #ed0677;
}