<!DOCTYPE html>
<html>
<head>
  <title>Bill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://web-toolkit.global.sky.com/components/typography/0.1.0/css/typography.css" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
